In [214]:
# import some library which is use
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.SVM import svc

ModuleNotFoundError: No module named 'sklearn.SVM'

In [182]:
# load dataset
data = pd.read_csv("Bengaluru_House_Data.csv")

In [183]:
# make a copy of the data set
df = data.copy()

In [184]:
# check data 
df.sample(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
10670,Super built-up Area,Ready To Move,Sarjapur,3 BHK,Coa 3t,1445,3.0,1.0,50.00
13023,Plot Area,Ready To Move,Hegde Nagar,6 Bedroom,NaN,760,6.0,0.0,98.00
726,Built-up Area,Ready To Move,Jakkur,3 BHK,Socon Z,1590,2.0,2.0,125.00
2564,Super built-up Area,18-Aug,Uttarahalli,3 BHK,DSera S,1845,2.0,1.0,68.27
9078,Plot Area,Ready To Move,Gottigere,1 Bedroom,NaN,1806,1.0,1.0,150.00

In [185]:
# check the shape of the dataset
df.shape

(13320, 9)

In [186]:
# check duplicated value
df.duplicated().sum()

529

In [187]:
# drop duplicated value
df.drop_duplicates()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [188]:
 # check null value in the dataset
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [189]:
# check percentage of the data 
df.isnull().mean()*100

area_type        0.000000
availability     0.000000
location         0.007508
size             0.120120
society         41.306306
total_sqft       0.000000
bath             0.548048
balcony          4.572072
price            0.000000
dtype: float64

In [190]:
# check the data type of the feature
df.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [192]:
# drop some columns
df.drop(['society' ,'availability' , 'area_type', 'balcony'],axis=1,inplace = True)

In [193]:
# fiil null value in size
def house_size(row):
    if pd.isna(row['size']):
        return '2 bhk'
    else:
        return row['size']
    
df['size']=df.apply(house_size,axis=1)

In [194]:
# change the datetype of the size colums
for i in df['size']:
    df['size'] = int(i[0])

In [195]:
# change the data type of sqft value
def convert_sqft_to_num(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2;
    try:
        return float(x)
    except:
        return None

In [196]:
# in this we can do like putting median of column bath and fill into these missing values
median_bath=df['bath'].median()
# filling the missing values with median
df['bath'].fillna(median_bath,inplace=True)

In [198]:
df.isnull().sum()

location      1
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [207]:
df.dropna(inplace=True)

In [ ]:
dummies=pd.get_dummies(df.location)
dummies